body,html{
    padding: 0;
    margin: 0;
}
body{
    //margin-left: 140px;
    //margin-right: 140px;
    //margin-top: 49px;
    background-color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(/img/grey_back.png);
    width: 1160px;
    height: 83px;
    div.logo{       
        display: flex;
        //align-self: center;
        width: 160px;
        height: 60px;
    }
    nav{
        display: flex;
        width: 532px;      
        justify-content: space-around;
        a{
            color: #000000;
            font-family: 'Roboto';
            font-size: 16px;
            font-weight: 500;
            line-height: 30px;
            text-transform: uppercase;
            text-decoration: none;
        }
        div.basket{
            display: flex;
            //align-content: space-between;
            //justify-items: flex-end;
            width: 115px;
            i{
                width: 15px;
                height: 15px;
                background-color: #a6a6a6;
            }
            span{
                width: 74px;
                height: 13px;
                color: #000000;
                font-family: 'Roboto';
                font-size: 16px;
                font-weight: 500;
                line-height: 30px;
                text-transform: uppercase;
            }
        }

    }
}
main{
    display: flex;
    align-items: center;
    //padding-top: 18px;
    div.bg{
        background-image: url(/img/grey_back.png);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 413px;
        width: 1160px;
        div.text-main{
            //height: 460px;
            //justify-content: space-between;
            div.span1main{
                color: #000000;
                font-family: 'Roboto';
                font-size: 55px;
                font-weight: 500;
                line-height: 55px;
                margin-bottom: 28px;
            }
            div.span2main{
                width: 361px;
                //height: 40px;
                color: #283136;
                font-family: 'Roboto';
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 42px;
            }
            div.redbutton{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 240px;
                height: 50px;
                background-color: #fb565a;
                a{
                    width: 132px;
                    height: 13px;
                    color: #ffffff;
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 18px;
                    text-decoration: none;
                }
            }
        }
    }
    div.slide1{
        width: 698px;
        height: 413px;
        margin-right: 31px;
    }
}

